/* Estilos para el botón */
.boton {
  display: inline-flex; /* Usar flexbox para alinear el contenido del botón */
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  font-family: "Nunito", Helvetica; /* Familia de la fuente */
  font-weight: 600; /* Grosor de la fuente */
  border: none; /* Sin borde */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.1s ease, transform 0.1s ease; /* Transición suave para el color de fondo y la transformación */
}

/* Estilos para el estado hover del botón */
.boton:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra más grande */
  transform: scale(1.02) rotate(0.8deg); /* Aumento de tamaño y giro ligero */
}

.boton:active {
  transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
}
